.margin2-left {
	margin-left: 5rem;
}

.ecom-head-container {
	z-index: 1;
	position: sticky;
	top: 0rem;
	margin: 0px;
}

.page-body {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.col-2 {
	position: relative;
	z-index: 0;
	flex-basis: 50%;
	min-width: 300px;
	text-align: justify;
}

.home-img {
	z-index: -1;
	position: absolute;
	top: -3.5rem;
	max-width: auto;
	height: auto;
}

.explore-btn {
	position: absolute;
	top: 25rem;
}

.floating-btn1 {
	background-color: var(--ecom-login);
	border-radius: 1.5rem;
	padding: 0.5rem 0.5rem;
}

.floating-btn1:hover {
	cursor: pointer;
}

.explore {
	margin: 4px 10px;
}

.heart {
	color: var(--primary-colorone);
}

.nav-items a i {
	font-size: 32px;
}

.user-img {
	display: flex;
	justify-content: center;
}
