@import url("https://technomentum.netlify.app/css_docs/cards.css");

.wishlist-page-container {
	position: relative;
	display: grid;
	color: var(--ecom-login-bdr);
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;

	grid-template-areas:
		"  head head head head"
		"  info info info info"
		"  content content content content"
		"  footer footer footer footer";
}

.wishlist-page-header {
	grid-area: head;
	position: sticky;
	top: 0;
	z-index: 1;
}

.wishlist-info {
	grid-area: info;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2rem;
	margin: 2rem 0;
}

.wishlist-page-content {
	grid-area: content;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}

.wishlist-footer {
	background-color: red;
	grid-area: footer;
}

.prime-color {
	color: var(--normal-dark);
}

.margin-left-l {
	margin-left: 1rem;
}

.margin-right-l {
	margin-right: 1.2rem;
}

.margin-bottom-m {
	margin-bottom: 0.5rem;
}

.margin-bottom-s {
	margin-bottom: 0.2rem;
}

.margin-left-s {
	margin-left: 0.2rem;
}

.margin-up {
	margin-top: 2.5rem;
}

.padding-top {
	padding-top: 10px;
}

.wishlist-card-body {
	display: flex;
	justify-content: center;
	align-items: center;
}

.wishlist-card-footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	max-width: 295px;
}

.icon-btn {
	margin: 0.4rem;
}

.icon-buy {
	margin-left: 9px;
	padding: 10px 15px;
	border-radius: 3px;
	color: var(--primary-colorone);
	background-color: var(--ecom-login);
}

.icon-buy:hover {
	cursor: pointer;
}

.heart {
	color: var(--primary-colorone);
}

.nav-items a i {
	font-size: 32px;
}

.heart-icon {
	padding: 0.5rem 0.5rem;
	color: var(--invalid-dark);
	background-color: var(--primary-colorone);
}

.heart-icon:hover {
	border-radius: 50%;
	background-color: var(--invalid-light);
}

.margin-auto {
	margin-left: auto;
}

.wishlist-cart-btn {
	border: none;
	padding: 0.4rem 3rem;
	border-radius: 3px;
	color: var(--primary-colorone);
	background-color: var(--ecom-login);
}

.hd-l-font {
	font-weight: 300;
	text-shadow: none;
}

.user-img {
	display: flex;
	justify-content: center;
}
